@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.eyebrow,
.sectionNumber,
.scrollHint {
    font-family: var(--font-mono), monospace;
}

html, body {
    scroll-behavior: smooth;
    background: var(--background);
    color: var(--foreground); 
    font-family: var(--font-main), sans-serif;

    scrollbar-width: none;
    -ms-overflow-style:none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
  display:none;
}